
@{
    ViewBag.Title="Управление пользователями";
}

<main ng-controller="AdminConroller">

  <div style="width:700px;" ui-grid="gridOptions"
       ui-grid-resize-columns
       ui-grid-move-columns
       class="grid">
  </div>
</main>
