@{
    ViewBag.Title = "Заявки";
}

<main ng-controller="DriverConroller">
    
  <div style="width:700px;" ui-grid="gridOptions"
        ui-grid-resize-columns
        ui-grid-move-columns
        class="grid">
    </div>
</main>
